@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	color: #f8fafc;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
}

body {
	margin: 0 auto;
	padding: 1rem;
	line-height: 1.5;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

@layer components {
	.text-gradient {
		@apply bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent;
	}
}

@media (max-width: 640px) {
	#author-image {
		order: 1;
		width: 16rem;
	}
	#author-profile {
		order: 2;
	}
}
