@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #f8fafc;
  background-color: #0f172a;
  font-family: "Inter", sans-serif;
  font-weight: 500;

  /* background-position: center;
  background-size: 24px 24px;
  background-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.1) 1px, transparent 1px); */
}

body {
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

@layer components {
  .gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-cyan-500 to-blue-500;
  }
  .icon {
    @apply bg-slate-800 p-2 rounded-md;
  }
  .skill-item {
    @apply flex flex-row items-center gap-2;
  }
}

.icon {
  height: 48px;
  width: 48px;
}

@media (max-width: 640px) {
  header {
    flex-direction: column;
  }
  #author-image {
    order: 1;
    width: 16rem;
  }
  #author-profile {
    order: 2;
  }
}
