---
import BlogCard from '../components/BlogCard.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Social from '../components/Social.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection("project");
const blogs = await getCollection("blog")
---

<BaseLayout title="Ervic Padilla">
    <header class="flex items-center justify-between gap-8 mt-6 mb-12 max-sm:flex-col">
        <div id="author-profile" class="flex flex-col justify-center gap-4 max-w-lg">
            <div class="flex max-sm:flex-col text-4xl font-extrabold">
                <h1>Hi, I'm&nbsp;</h1>
                <p><span class="text-gradient">Ervic Padilla</span>.</p>
            </div>
            <p>Greetings from my small piece of the Internet!  I am a graduate at the Polytechnic University of the Philippines studying computer science. I am experimenting with new web application technologies and learning frontend tools.</p>	
            <Social />
        </div>
        <img id="author-image" src="/author.png" alt="The author" class="w-80 bg-gradient-to-r from-orange-500 to-yellow-500 rounded-lg rotate-3">
    </header>
    <section class="mb-12">
        <div class="mb-6">
            <h2 class="text-2xl font-extrabold mb-2">Favorite <span class="text-gradient">Technologies</span></h2>
            <p>
                The technologies I have worked with are listed below:
            </p>
        </div>
        <ul class="flex items-center gap-8 flex-wrap">
            <li class="flex flex-row items-center gap-2">
                <img src="/icons/javascript.svg" alt="JavaScript icon" class="rounded-md bg-slate-800 p-2 w-12 h-12"></img>
                JavaScript/ES6
            </li>
            <li class="flex flex-row items-center gap-2">
                <img src="/icons/typescript.svg" alt="TypeScript icon" class="rounded-md bg-slate-800 p-2 w-12 h-12"></img>
                TypeScript
            </li>
            <li class="flex flex-row items-center gap-2">
                <img src="/icons/tailwind-css.svg" alt="Tailwind CSS icon" class="rounded-md bg-slate-800 p-2 w-12 h-12"></img>
                Tailwind CSS
            </li>
            <li class="flex flex-row items-center gap-2">
                <img src="/icons/react.svg" alt="React framework icon" class="rounded-md bg-slate-800 p-2 w-12 h-12"></img>
                React
            </li>
            <li class="flex flex-row items-center gap-2">
                <img src="/icons/astro.svg" alt="Astro framework icon" class="rounded-md bg-slate-800 p-2 w-12 h-12"><img/>
                Astro
            </li>
        </ul>
    </section>
    <div class="flex justify-between items-center max-sm:flex-col">
        <h2 class="text-2xl font-extrabold">Featured <span class="text-gradient">Projects</span></h2>
        <a href="/project/" class="hover:underline active:scale-95">View all projects &rarr;</a>
    </div>
    <section class="grid gap-4">
        {
            projects.map((post) => (
                post.data.featured ? <ProjectCard post={post} /> : null
            ))
        }
    </section>
    <div class="flex justify-between items-center mt-8 max-sm:flex-col">
        <h2 class="text-2xl font-extrabold">Featured <span class="text-gradient">Blogs</span></h2>
        <a href="/blog/"  class="hover:underline active:scale-95">View all blogs &rarr;</a>
    </div>
    <section class="grid gap-4 border-l border-slate-800">
        {
            blogs.map((post) => (
                post.data.featured ? <BlogCard post={post} /> : null
            ))
        }
    </section>
</BaseLayout>

