---
import Navigation from '../components/Navigation.astro';
import Social from '../components/Social.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ervic Padilla</title>
	</head>
	<body class="min-h-screen flex flex-col max-w-5xl">
		<main class="flex-grow flex flex-col gap-4">
			<Navigation />
			<header class="flex justify-between mt-6">
				<div id="author-profile" class="flex flex-col justify-center gap-4 max-w-xl">
					<div class="flex text-3xl font-extrabold">
						<h1>Hello, I'm <span class="gradient">Ervic Padilla</span></h1>
					</div>
					<p>Greetings from my small piece of the Internet!  I am a graduate at the Polytechnic University of the Philippines studying computer science. I am experimenting with new web application technologies and learning frontend tools.</p>	
					<Social />
				</div>
				<img id="author-image" src="/author.png" alt="The author" class="rounded-full w-80 bg-slate-800">
			</header>
			<section>
				<h2 class="text-2xl font-extrabold">Favorite <span class="gradient">technologies</span></h2>
				<p>The technologies I have worked with are listed below:</p>
				<ul class="">
					<li class="skill-icons">
						<img src="/icons/javascript.svg" class="icon"></img>
						JavaScript/ES6
					</li>
					<li class="skill-icons">
						<img src="/icons/tailwindcss.svg" class="icon"></img>
						Tailwind CSS
					</li>
					<li class="skill-icons">
						<img src="/icons/react.svg" class="icon"></img>
						React
					</li>
					<li class="skill-icons">
						<img src="/icons/astro.svg" class="icon"></img>
						Astro
					</li>
					<li class="skill-icons">
						<img src="/icons/python.svg" class="icon"></img>
						Python
					</li>
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
