---
import Blogs from '../components/Blogs.astro';
import Projects from '../components/Projects.astro';
import Social from '../components/Social.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Ervic Padilla">
    <header class="flex items-center justify-between gap-8 mt-6 mb-12 max-sm:flex-col">
        <div id="author-profile" class="flex flex-col justify-center gap-4 max-w-lg">
            <div class="flex text-3xl font-extrabold">
                <h1>Hi, I'm <span class="text-gradient">Ervic Padilla</span>.</h1>
            </div>
            <p>Greetings from my small piece of the Internet!  I am a graduate at the Polytechnic University of the Philippines studying computer science. I am experimenting with new web application technologies and learning frontend tools.</p>	
            <Social />
            <a href="" class="flex gap-1 mt-2 hover:underline">
                View my resume&nbsp;
                <span class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#64748b" d="M3.75 2h3.5a.75.75 0 0 1 0 1.5h-3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-3.5a.75.75 0 0 1 1.5 0v3.5A1.75 1.75 0 0 1 12.25 14h-8.5A1.75 1.75 0 0 1 2 12.25v-8.5C2 2.784 2.784 2 3.75 2m6.854-1h4.146a.25.25 0 0 1 .25.25v4.146a.25.25 0 0 1-.427.177L13.03 4.03L9.28 7.78a.751.751 0 0 1-1.042-.018a.751.751 0 0 1-.018-1.042l3.75-3.75l-1.543-1.543A.25.25 0 0 1 10.604 1"/></svg>
                </span>
            </a>
        </div>
        <img id="author-image" src="/author.png" alt="The author" class="w-80 bg-gradient-to-r from-orange-500 to-yellow-500 rounded-full"> 
    </header>
    <section class="mb-12">
        <div class="mb-6">
            <h2 class="text-2xl font-extrabold mb-2">Favorite <span class="text-gradient">Technologies</span></h2>
            <p>
                The technologies I have worked with are listed below:
            </p>
        </div>
        <ul class="flex items-center gap-8 flex-wrap">
            <li class="flex flex-row items-center gap-2">
                <img src="/icons/javascript.svg" alt="JavaScript icon" class="rounded-md bg-slate-800 p-2 w-12 h-12"></img>
                JavaScript/ES6
            </li>
            <li class="flex flex-row items-center gap-2">
                <img src="/icons/typescript.svg" alt="TypeScript icon" class="rounded-md bg-slate-800 p-2 w-12 h-12"></img>
                TypeScript
            </li>
            <li class="flex flex-row items-center gap-2">
                <img src="/icons/tailwindcss.svg" alt="Tailwind CSS icon" class="rounded-md bg-slate-800 p-2 w-12 h-12"></img>
                Tailwind CSS
            </li>
            <li class="flex flex-row items-center gap-2">
                <img src="/icons/react.svg" alt="React framework icon" class="rounded-md bg-slate-800 p-2 w-12 h-12"></img>
                React
            </li>
            <li class="flex flex-row items-center gap-2">
                <img src="/icons/astro.svg" alt="Astro framework icon" class="rounded-md bg-slate-800 p-2 w-12 h-12"></img>
                Astro
            </li>
        </ul>
    </section>
    <div class="flex justify-between items-center mt-8 max-sm:flex-col">
        <h2 class="text-2xl font-extrabold">Recent <span class="text-gradient">Projects</span></h2>
        <a href="/project/" class="hover:underline active:scale-95">View all projects &rarr;</a>
    </div>
    <ul id="recentProjects">
        {

        }
    </ul>
    <Projects />
    <div class="flex justify-between items-center mt-8 max-sm:flex-col">
        <h2 class="text-2xl font-extrabold">Featured <span class="text-gradient">Blogs</span></h2>
        <a href="/blog/"  class="hover:underline active:scale-95">View all blogs &rarr;</a>
    </div>
    <ul id="featuredBlogs">
        {
            
        }
    </ul>
    <Blogs />
</BaseLayout>

