---
import type { CollectionEntry } from "astro:content";

type Props = {
    post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
---

<article class="text-md">
    <a href={`/blog/${post.slug}`} class="flex flex-col gap-2 hover:bg-slate-800 p-6">
        <time class="text-slate-400">
            {post.data.date.toDateString()}
        </time>
        <h2 class="text-lg font-bold">
            {post.data.title}
        </h2>
        <p class="text-slate-400">
            {post.data.description}
        </p>
    </a>
</article>