---
import type { CollectionEntry } from "astro:content";
import BlogCard from "./BlogCard.astro"

type Props = {
    post: CollectionEntry<"blog">[];
};

const {post} = Astro.props;
---

<section class="grid gap-12 mb-12">
    {post.map((post) => <BlogCard post={post} />)}
</section>