<section class="mb-12">
    <ul class="flex gap-4 max-sm:flex-col">
        <li class="h-64 border-l-8 rounded-lg border-orange-500 bg-slate-800 flex justify-center items-center">
            <div class="m-8">
                <div class="flex flex-col mb-4">
                    <a href="example.com" target="_blank" class="text-2xl font-bold mb-2 hover:underline">
                        Title
                    </a>
                    <p class="text-slate-500">
                        Date
                    </p>
                </div>

                <p class="text-md line-clamp-4">
                    Nunc elementum auctor tellus, at tincidunt risus rhoncus sit amet. In et odio neque. Vestibulum consequat a dolor sed mattis. Maecenas venenatis sagittis leo nec volutpat.
                </p>    
            </div>
        </li>
        <li class="h-64 border-l-8 rounded-lg border-orange-500 bg-slate-800 flex justify-center items-center">
            <div class="m-8">
                <div class="flex flex-col mb-4">
                    <a href="example.com" target="_blank" class="text-2xl font-bold mb-2 hover:underline">
                        Title
                    </a>
                    <p class="text-slate-500">
                        Date
                    </p>
                </div>

                <p class="text-md line-clamp-4">
                    Nunc elementum auctor tellus, at tincidunt risus rhoncus sit amet. In et odio neque. Vestibulum consequat a dolor sed mattis. Maecenas venenatis sagittis leo nec volutpat.
                </p>    
            </div>
        </li>
    </ul>
</section>
