---
import type { CollectionEntry } from "astro:content";
import Blog from "./Blog.astro"


type Props = {
    blogs: CollectionEntry<"blogs">[];
};

const {blogs} = Astro.props;
---

<section class="grid grid-cols-2 max-sm:grid-cols-1 gap-12 mb-24">
    {blogs.map((blog) => <Blog blog={blog} />)}
</section>