---
import type { CollectionEntry } from "astro:content";

type Props = {
    post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
---

<article>
    <a href={`/blog/${post.slug}`}>
        <h2>
            {post.data.title}
        </h2>
        <time class="text-slate-400">
            {post.data.date.toDateString()}
        </time>
        <p>
            {post.data.description}
        </p>
    </a>
</article>