---
import Social from '../components/Social.astro';
---

<footer class="flex justify-between items-center gap-4 mx-2 mt-24">
    <p class="flex max-sm:flex-col">
        Built and designed by&nbsp;<span class="font-semibold text-gradient">Ervic Padilla</span>
    </p>
    <Social />
</footer>