<nav class="flex justify-center items-center mt-8 bg-slate-800 py-4 px-8 rounded-full max-w-sm self-center ring-2 ring-slate-700">
    <ul class="flex mx-0 overflow-hidden gap-4">
        <li class="mx-2 hover:gradient active:scale-95">
            <a href="/">Home</a>
        </li>
        <li class="mx-2 hover:gradient active:scale-95">
            <a href="/project/">Projects</a>
        </li>
        <li class="mx-2 hover:gradient active:scale-95">
            <a href="/blog/">Blog</a>
        </li>
    </ul>
</nav>