<nav class="flex justify-center items-center mt-8 bg-slate-800 py-4 px-8 rounded-full max-w-sm self-center">
    <ul class="flex mx-0 overflow-hidden gap-6">
        <li><a href="">Home</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">Resume</a></li>
    </ul>
</nav>