---
import type { CollectionEntry } from "astro:content";
import ProjectCard from "./ProjectCard.astro"

type Props = {
    post: CollectionEntry<"project">[];
};

const {post} = Astro.props;
---

<section class="grid grid-cols-2 gap-12 mb-12">
    {post.map((post) => <ProjectCard post={post} />)}
</section>