<section>
    <ul class="flex gap-4 max-w max-sm:flex-col">
        <li class="h-64 border-l-8 rounded-lg border-orange-500 bg-slate-800 flex justify-center items-center">
            <div class="m-8">
                <div class="flex mb-4">
                    <div class="flex flex-col">
                        <a href="example.com" target="_blank" class="text-2xl font-bold mb-2 hover:underline flex gap-1 ">
                            This website!&nbsp;
                            <span class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#64748b" d="M3.75 2h3.5a.75.75 0 0 1 0 1.5h-3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-3.5a.75.75 0 0 1 1.5 0v3.5A1.75 1.75 0 0 1 12.25 14h-8.5A1.75 1.75 0 0 1 2 12.25v-8.5C2 2.784 2.784 2 3.75 2m6.854-1h4.146a.25.25 0 0 1 .25.25v4.146a.25.25 0 0 1-.427.177L13.03 4.03L9.28 7.78a.751.751 0 0 1-1.042-.018a.751.751 0 0 1-.018-1.042l3.75-3.75l-1.543-1.543A.25.25 0 0 1 10.604 1"/></svg>
                            </span>
                        </a>
                        <ul class="flex gap-2">
                            <li>
                                <img src="/icons/astro.svg" alt="Astro framework icon" class="w-8 h-8"></img>
                            </li>
                            <li>
                                <img src="/icons/tailwindcss.svg" alt="Tailwind CSS icon" class="w-8 h-8"></img>
                            </li>
                        </ul>
                    </div>
                    <a href="https://github.com/valid-replica/portfolio" target="_blank" class="ml-auto">
                        <img src="/icons/github.svg" height="32px" width="32px" class="invert hover:scale-110">
                    </a>        
                </div>

                <p class="text-md line-clamp-4">
                    Nunc elementum auctor tellus, at tincidunt risus rhoncus sit amet. In et odio neque. Vestibulum consequat a dolor sed mattis. Maecenas venenatis sagittis leo nec volutpat.
                </p>    
            </div>
        </li>
        <li class="h-64 border-l-8 rounded-lg border-orange-500 bg-slate-800 flex justify-center items-center">
            <div class="m-8">
                <div class="flex mb-4">
                    <div class="flex flex-col">
                        <a href="https://prontofacts.netlify.app/" target="_blank" class="text-2xl font-bold mb-2 hover:underline flex gap-1 ">
                            Pronto Facts&nbsp;
                            <span class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#64748b" d="M3.75 2h3.5a.75.75 0 0 1 0 1.5h-3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-3.5a.75.75 0 0 1 1.5 0v3.5A1.75 1.75 0 0 1 12.25 14h-8.5A1.75 1.75 0 0 1 2 12.25v-8.5C2 2.784 2.784 2 3.75 2m6.854-1h4.146a.25.25 0 0 1 .25.25v4.146a.25.25 0 0 1-.427.177L13.03 4.03L9.28 7.78a.751.751 0 0 1-1.042-.018a.751.751 0 0 1-.018-1.042l3.75-3.75l-1.543-1.543A.25.25 0 0 1 10.604 1"/></svg>
                            </span>
                        </a>
                        <ul class="flex gap-2">
                            <li>
                                <img src="/icons/react.svg" alt="React framework icon" class="w-8 h-8"></img>
                            </li>
                            <li>
                                <img src="/icons/javascript.svg" alt="JavaScript icon" class="w-8 h-8"></img>
                            </li>
                        </ul>
                    </div>
                    <a href="https://github.com/valid-replica/pronto-facts" target="_blank" class="ml-auto">
                        <img src="/icons/github.svg" height="32px" width="32px" class="invert hover:scale-110">
                    </a>        
                </div>

                <p class="text-md line-clamp-4">
                    Nunc elementum auctor tellus, at tincidunt risus rhoncus sit amet. In et odio neque. Vestibulum consequat a dolor sed mattis. Maecenas venenatis sagittis leo nec volutpat.
                </p>    
            </div>
        </li>
    </ul>
</section>
