<section class="mb-12">
    <div class="flex justify-between items-center mb-8">
        <h2 class="text-2xl font-extrabold">Recent <span class="gradient">Projects</span></h2>
        <a class="hover:underline">View all projects &rarr;</a>
    </div>
    <div>
        <ul class="flex gap-4 max-sm:flex-col">
            <li class="h-64 border-l-8 rounded-lg border-orange-500 bg-slate-800 flex justify-center items-center">
                <div class="m-8">
                    <div class="flex mb-4">
                        <div class="flex flex-col">
                            <a href="example.com" target="_blank" class="text-2xl font-bold mb-2 hover:underline">
                                Personal site
                            </a>
                            <ul class="flex gap-2">
                                <li>
                                    <img src="/icons/astro.svg" alt="Astro framework icon" class="w-8 h-8"></img>
                                </li>
                                <li>
                                    <img src="/icons/tailwindcss.svg" alt="Tailwind CSS icon" class="w-8 h-8"></img>
                                </li>
                            </ul>
                        </div>
                        <a href="https://github.com/valid-replica/portfolio" target="_blank" class="ml-auto">
                            <img src="/icons/github.svg" height="32px" width="32px" class="invert hover:scale-110">
                        </a>        
                    </div>

                    <p class="text-md">
                        Nunc elementum auctor tellus, at tincidunt risus rhoncus sit amet. In et odio neque. Vestibulum consequat a dolor sed mattis. Maecenas venenatis sagittis leo nec volutpat.
                    </p>    
                </div>
            </li>
            <li class="h-64 border-l-8 rounded-lg border-orange-500 bg-slate-800 flex justify-center items-center">
                <div class="m-8">
                    <div class="flex mb-4">
                        <div class="flex flex-col">
                            <a href="https://prontofacts.netlify.app/" target="_blank" class="text-2xl font-bold mb-2 hover:underline">
                                Pronto Facts
                            </a>
                            <ul class="flex gap-2">
                                <li>
                                    <img src="/icons/react.svg" alt="React framework icon" class="w-8 h-8"></img>
                                </li>
                                <li>
                                    <img src="/icons/javascript.svg" alt="JavaScript icon" class="w-8 h-8"></img>
                                </li>
                            </ul>
                        </div>
                        <a href="https://github.com/valid-replica/pronto-facts" target="_blank" class="ml-auto">
                            <img src="/icons/github.svg" height="32px" width="32px" class="invert hover:scale-110">
                        </a>        
                    </div>

                    <p class="text-md">
                        Nunc elementum auctor tellus, at tincidunt risus rhoncus sit amet. In et odio neque. Vestibulum consequat a dolor sed mattis. Maecenas venenatis sagittis leo nec volutpat.
                    </p>    
                </div>
            </li>
        </ul>
    </div>
</section>
