<ul class="flex items-center gap-4">
    <li>
        <a href="https://github.com/valid-replica" target="_blank"><img src="/icons/github.svg" height="40px" width="40px" class="rounded-full bg-white invert"></img></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/ervicpadilla" target="_blank"><img src="/icons/linkedin.svg" height="40px" width="40px"></img></a>
    </li>
</ul>