<ul class="flex justify-center items-center gap-4">
    <li>
        <a href="https://github.com/valid-replica">GitHub</a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/ervicpadilla">LinkedIn</a>
    </li>
</ul>