<ul class="flex items-center gap-4">
    <li>
        <a href="https://github.com/valid-replica" target="_blank"><img src="/icons/github.svg" height="42px" width="42px" class="rounded-full invert hover:scale-110"></img></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/ervicpadilla" target="_blank"><img src="/icons/linkedin.svg" height="42px" width="42px" class="hover:scale-110"></img></a>
    </li>
</ul>