<section class="mb-12">
    <div class="mb-6">
        <h2 class="text-2xl font-extrabold mb-2">Favorite <span class="gradient">Technologies</span></h2>
        <p>
            The technologies I have worked with are listed below:
        </p>
    </div>
    <ul class="flex items-center gap-8 flex-wrap">
        <li class="skill-item">
            <img src="/icons/javascript.svg" alt="JavaScript icon" class="icon"></img>
            JavaScript/ES6
        </li>
        <li class="skill-item">
            <img src="/icons/typescript.svg" alt="TypeScript icon" class="icon"></img>
            TypeScript
        </li>
        <li class="skill-item">
            <img src="/icons/tailwindcss.svg" alt="Tailwind CSS icon" class="icon"></img>
            Tailwind CSS
        </li>
        <li class="skill-item">
            <img src="/icons/react.svg" alt="React framework icon" class="icon"></img>
            React
        </li>
        <li class="skill-item">
            <img src="/icons/astro.svg" alt="Astro framework icon" class="icon"></img>
            Astro
        </li>
    </ul>
</section>